<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href='@Url.Action("Index", "Home")'><span class="glyphicon glyphicon-home"></span><div class="text-center navText">Home</div></a></li>
                <li><a href='@Url.Action("Index", "Weddings")'><img src='@Url.Content("/Content/Images/icons/wedding-ring.svg")' class="navIcon" /><div class="text-center navText">Weddings</div></a></li>
                <li><a href='@Url.Action("About", "Home")'><img src='@Url.Content("/Content/Images/icons/office-building.svg")' class="navIcon" /><div class="text-center navText">Corporate</div></a></li>
                <li><img src="/Content/Images/logo/streetEats.png" alt="" class="IndexLogo"></li>
                <li><a href='@Url.Action("About", "Home")'><img src='@Url.Content("/Content/Images/icons/wine-glasses.svg")' class="navIcon" /><div class="text-center navText">Parties</div></a></li>
                <li><a href='@Url.Action("About", "Home")'><img src='@Url.Content("/Content/Images/icons/market.svg")' class="navIcon" /><div class="text-center navText">Markets</div></a></li>
                <li><a href='@Url.Action("Index", "About")'><span class="glyphicon glyphicon-info-sign"></span><div class="text-center navText">About</div></a></li>
                <li><a href='@Url.Action("Contact", "Home")'><span class="glyphicon glyphicon-envelope"></span><div class="text-center navText">Contact</div></a></li>
            </ul>
        </div>
    </div>
</div>