@model StreetEats.Models.About

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="AboutStreetEatsTitle">
    <h1>About StreetEats</h1>
</div>
<div id="AboutStreetEatsContent" class="container">
    <div class="row">
        <div class="column">
            <h3><b>Our Food</b></h3>
            <div id="AboutFoodDescrip">
                <p>Our food is always colourful, vibrant and rammed full of flavour.</p> 
                <p>If you want beige food, go to Greggs.</p>
                <p>If you want food that packs a punch, come see us.</p> 
                <p>We love doing weddings, corporate events and parties!</p> 
                <p>Any chance really to show off our repertoire. Our Vietnamese spring rolls canapes, bowls of steaming laksa and buns filled with sticky pulled pork and chilli slaw.</p>      
            </div>
        </div>
        <div class="column">
            <img src="@Model.ourFood1" style="width:100%" />
            <img src="@Model.ourFood4" style="width:100%" class="bottomImg" />
        </div>
        <div class="column">
            <img src="@Model.ourFood3" style="width:100%" />
            <img src="@Model.ourFood2" style="width:100%" class="bottomImg" />
        </div>
    </div>
</div>


<div id="AboutStreetEatsContent" class="container">
    <div class="row">
        <div class="column">
            <h3><b>Why did we start up our business?</b></h3>
            <div id="AboutFoodDescrip">
                <p>It was in 2010, in a small surfing town in Sri Lanka that Street Eats was truly born.</p> 
                <p>In search of cheap, nutritious food I came across a small stall, buzzing with westerners and locals! </p>
                <p>I began talking to the owner over some of Sri Lanka’s finest Kottu Roti and the very next day I joined him in his humble kitchen</p>
                <p>I cooked away in a pair of shorts, bare chested while we used old newspapers to dab our sweat away. I learnt everything I could from the owner about Sri Lankan street food. Thank you Arak!</p>
                <p>Why mobile catering? </p>
                <p>Variety is the spice of life and that's why we love mobile catering. It throws up something new everytime you venture out. We love the comaraderie with the other traders, learning of far away cultures, swapping food, banter with the customers, the adrenaline spike when the pressure is on, fresh air in your lungs, being outside everyday, being your own boss without putting everything on the line, being creative, being competitive, making people happy, providing colour and nutrition to the world</p>
            </div>
        </div>
        <div class="column">
            <img src="@Model.business1" style="width:100%" />
            <img src="@Model.business4" style="width:100%"  />
            <img src="@Model.business5" style="width:100%" class="bottomImg"/>
        </div>
        <div class="column">
            <img src="@Model.business3" style="width:100%" />
            <img src="@Model.business6" style="width:100%" class="bottomImg" />
            <img src="@Model.business2" style="width:100%" class="bottomImg" />
        </div>
    </div>
</div>