@model List<StreetEats.Models.Weddings>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_weddingLayout.cshtml";
}
<div id="weddingCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

    <!-- Wrapper for slides -->
    <div class="carousel-inner weddingCarouselInner">
        @foreach (var item in Model)
        {
            string activeClass = "";
            if (@item.startingPage == "true")
            {
                activeClass = "active";
            }
        <div class="item weddingMenu @activeClass">
            <h1 class="weddingMenu">@item.header</h1>
            @foreach (var food in item.foodOfCategory)
            {
                <div class="weddingFoodRow">
                    <div class="foodPic">
                        <img src="@food.fileLocation" class="weddingMenuPics" />
                    </div>
                    <div class="foodInfo">
                        <h3>@food.foodName</h3>
                        <p>@food.description</p>
                    </div>
                </div>
            }

            <div class="weddingMenuInfo bottomWeddingInfo">
                <div>
                    <img class="arrow" src="~/Content/Images/wedding/arrow2.png" />
                    <div class="flowerPic"><img class="flower" src="~/Content/Images/wedding/flower.png" /></div>
                    <div class="weddingContact"><p class="weddingContactP">Please contact us for questions on the menu or changes you would like</p></div>
                </div>
            </div>
        </div>
        }
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#weddingCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#weddingCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>